<head>
	<title>CompPrehension Question Templates</title>
<!-- 	<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='create_task_script.js') }}"></script>
 --></head>

<body>
	<h1>CompPrehension Question Templates Database</h1>
	[ISWC 2022 Resources Track Submission]

	<h3>Database Description</h3>

	...
	
	<h3>Database Statistics</h3>

	...

	<h3>Database API</h3>

	<p>Request and visualize playground(?) [TODO]</p>
	<p>Vocabulary (ontology schema) specification [TODO]</p>

	<h3>Acknowledgements</h3>
	
	Volgograd State Technical University, 2022

</body>
